#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 10%;
  /* padding-bottom: 10%; */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  margin-bottom: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@media (max-width: 768px) {
    .swiper-slide {
      width: 50%;
      height: auto; /* Adjusted height for small screens */
    }
  
    .swiper-slide img {
      height: 100%; /* Added height to fill the container */
    }
  }
