
// @tailwind components;
// @tailwind utilities;
// .contact{
//     color: white;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     background-color: #141516;
//     position: relative;
//     .body{
//         padding-top: 200px;
//         width: 100%;
//         max-width: 1800px;
//         background-color: #141516;

//         .title{
//             border-bottom: 1px solid rgb(134, 134, 134);
//             padding-bottom: 100px;
//             margin-left: 170px;
//             margin-right: 200px;
//             position: relative;
//             span{
//                 display: flex;
//                 align-items: center;
//                 .imageContainer{
//                     width: 150px;
//                     height: 100px;
//                     position: relative;
//                     border-radius: 10%;
//                     overflow: hidden;

//                     img{
//                         object-fit: cover;
//                     }
//                 }
//                 h2{
//                     margin-left: 0.3em;
//                 }
//             }
//             h2{
//                 font-size: 5vw;
//                 margin: 0px;
//                 font-weight: 300;
//             }
//             .buttonContainer{
//                 position: absolute;
//                 left: calc(100% - 400px); 
//                 top: calc(100% - 75px);
//             }
//             .button{
//                 width: 180px;
//                 height: 180px;
//                 background-color: #455CE9;
//                 color: white;
//                 border-radius: 50%;
//                 position: absolute;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 cursor: grab;
//                 p{
//                     margin: 0px;
//                     font-size: 16px;
//                     font-weight: 300;
//                     z-index: 2;
//                     position: relative;
//                 }
//             }
//             svg{
//                 position: absolute;
//                 top: 30%;
//                 left: 100%;
//             }
//         }
//         .nav{
//             display: flex;
//             gap: 20px;
//             margin-top: 140px;
//             margin-left: 200px;
//             margin-right: 80px;
//         }
//         .info{
//             display: flex;
//             justify-content: space-between;
//             margin-top: 140px;
//             padding: 40px;
//             div{
//                 display: flex;
//                 gap: 10px;
//                 align-items: flex-end;
//                 p, h3{
//                     margin: 0px;
//                     padding: 2px;
//                     cursor: pointer;
//                 }
//                 p{
//                     &::after{
//                         content: "";
//                         width: 0%;
//                         height: 1px;
//                         background-color: white;
//                         display: block;
//                         margin-top: 2px;
//                         position: relative;
//                         left: 50%;
//                         transform: translateX(-50%);
//                         transition: width 0.2s linear;
//                     }
//                     &:hover{
//                         &::after{
//                             width: 100%;
//                         }
//                     }
//                 }
//                 span{
//                     display: flex;
//                     flex-direction: column;
//                     gap: 15px;
//                 }
//                 h3{
//                     color: grey;
//                     cursor: default;
//                     font-weight: 300;
//                     font-size: 1em;
//                 }
//             }
            
//         }
//     }
    
// }

@tailwind components;
@tailwind utilities;
.contact{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141516;
    position: relative;
    .body{
        padding-top: 200px;
        width: 100%;
        max-width: 1800px;
        background-color: #141516;

        .title{
            border-bottom: 1px solid rgb(134, 134, 134);
            padding-bottom: 100px;
            margin-left: 170px;
            margin-right: 200px;
            position: relative;
            span{
                display: flex;
                align-items: center;
                .imageContainer{
                    width: 150px;
                    height: 100px;
                    position: relative;
                    border-radius: 10%;
                    overflow: hidden;

                    img{
                        object-fit: cover;
                    }
                }
                h2{
                    margin-left: 0.3em;
                }
            }
            h2{
                font-size: 5vw;
                margin: 0px;
                font-weight: 300;
            }
            .buttonContainer{
                position: absolute;
                left: calc(100% - 400px); 
                top: calc(100% - 75px);
            }
            .button{
                width: 180px;
                height: 180px;
                background-color: #455CE9;
                color: white;
                border-radius: 50%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: grab;
                p{
                    margin: 0px;
                    font-size: 16px;
                    font-weight: 300;
                    z-index: 2;
                    position: relative;
                }
            }
            svg{
                position: absolute;
                top: 30%;
                left: 100%;
            }
        }
        .nav{
            display: flex;
            gap: 20px;
            margin-top: 140px;
            margin-left: 200px;
            margin-right: 80px;
        }
        .info{
            display: flex;
            justify-content: space-between;
            margin-top: 140px;
            padding: 40px;
            div{
                display: flex;
                gap: 10px;
                align-items: flex-end;
                p, h3{
                    margin: 0px;
                    padding: 2px;
                    cursor: pointer;
                }
                p{
                    &::after{
                        content: "";
                        width: 0%;
                        height: 1px;
                        background-color: white;
                        display: block;
                        margin-top: 2px;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: width 0.2s linear;
                    }
                    &:hover{
                        &::after{
                            width: 100%;
                        }
                    }
                }
                span{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
                h3{
                    color: gainsboro;
                    cursor: default;
                    font-weight: 300;
                    font-size: 1em;
                }
            }
            
        }
    }
    
}

/* Small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .contact .body {
        padding-top: 100px;
    }
    .contact .body .title {
        margin-left: 10px;
        margin-right: 20px;
    }
    .contact .body .title .span .h2 {
        font-size: 3vw;
    }
    .contact .body .nav {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
    .contact .body .info {
        flex-direction: column;
        padding: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .contact .body {
        padding-top: 150px;
    }
    .contact .body .title {
        margin-left: 50px;
        margin-right: 100px;
    }
    .contact .body .nav {
        margin-left: 50px;
        margin-right: 50px;
    }
    .contact .body .info {
        padding: 30px;
    }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
    .contact .body {
        padding-top: 200px;
    }
    .contact .body .title {
        margin-left: 170px;
        margin-right: 200px;
    }
    .contact .body .nav {
        margin-left: 200px;
        margin-right: 80px;
    }
    .contact .body .info {
        padding: 40px;
    }
}

/* Extra large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {
    .contact .body {
        padding-top: 250px;
    }
    .contact .body .title {
        margin-left: 200px;
        margin-right: 300px;
    }
    .contact .body .nav {
        margin-left: 250px;
        margin-right: 100px;
    }
    .contact .body .info {
        padding: 50px;
    }
}
