:root {
  --timing: 400ms;
  --rotation: 20deg;
}

html {
  /* color-scheme: dark; */
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.yoda {
  width: 300px;
  aspect-ratio: 4.2/3;
  position: relative;
  transform-style: preserve-3d;
  transition: rotate var(--timing) ease;
}

.yoda:hover {
  rotate: x var(--rotation);
}

.yoda::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 100;
  background-image: radial-gradient(circle, transparent 150px, black);
  opacity: 0;
  transition: opacity var(--timing);
}

.yoda:hover::before {
  opacity: 1;
}

.yoda::after {
  content: "";
  position: absolute;
  inset: 80% 0.5rem 0.5rem;
  translate: 0;
  transform: translateZ(-100px);
  background: black;
  filter: blur(1rem);
  z-index: 1;
  transition: rotate var(--timing), translate var(--timing);
}

.yoda:hover::after {
  rotate: x calc(var(--rotation) * -1);
  translate: 0 60px;
}

.bg-image {
  position: absolute;
  z-index: 10;
  height: 100%;
  object-fit: cover;
  object-position: -2px center;
}

.logo,
.front-image {
  position: absolute;
  object-fit: contain;
}

.logo {
  z-index: 1000;
  filter: invert(1);
  width: 75%;
  margin-inline: auto;
  inset: auto 0 2rem;
  transform: translateY(0rem) translateZ(20px);
  transition: var(--timing);
}

.yoda:hover .logo {
  transform: translateY(-2rem) translateZ(20px);
  rotate: x calc(var(--rotation) * -1);
}

.front-image {
  scale: 0.80;
  transform-origin: bottom;
  opacity: 0;
  z-index: 100;
  transition: var(--timing);
  object-fit: cover;
}

.yoda:hover .front-image {
  opacity: 1;
  transform: translateY(-20rem) translateZ(-20px);
  rotate: x calc(var(--rotation) * -1);
}

.inspiration {
  font-family: system-ui;
  text-align: center;
  max-width: 25ch;
  margin-block-start: 3rem;
  margin-inline: auto;
}
.button-wrapper {
  margin-right: 45px; /* Adjust the margin between buttons */
}
/* .back {
  width: 33%;
  height: 50px;
  float: left;
  background-color: #eeeeee;
  border: 10px;
  border-color: #ffffff;
  border-style: solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  counter-increment: bc;
  padding: 0px 5px 5px 5px;
} */

/* .back:before {
  content: counter(bc) "_";
  position: absolute;
  padding: 10px;
} */

@media screen and (max-width: 1260px) {
  .back {
      width: 65%;
  }
}


.button_base {
margin: 0;
border: 0;
font-size: 18px;
position: relative;
top: 50%;
left: 220%;
margin-top: 4px;
margin-left: -101px;
width: 160px;
height: 45px;
text-align: center;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-user-select: none;
cursor: default;
}

.button_base:hover {
cursor: pointer;
}

.b03_skewed_slide_in {
overflow: hidden;
border: #000000 solid 1px;
}

.b03_skewed_slide_in div {
position: absolute;
text-align: center;
width: 100%;
height: 45px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
padding: 12px;
}

.b03_skewed_slide_in div:nth-child(1) {
color: #000000;
background-color: #ffffff;
}

.b03_skewed_slide_in div:nth-child(2) {
background-color: #000000;
width: 230px;
transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
transform: translate(-250px, 0px) skewX(-30deg);
-webkit-transform: translate(-250px, 0px) skewX(-30deg);
-moz-transform: translate(-250px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in div:nth-child(3) {
color: #ffffff;
left: -200px;
transition: left 0.2s ease;
-webkit-transition: left 0.2s ease;
-moz-transition: left 0.2s ease;
}

.b03_skewed_slide_in:hover div:nth-child(2) {
transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
transform: translate(-15px, 0px) skewX(-30deg);
-webkit-transform: translate(-15px, 0px) skewX(-30deg);
-moz-transform: translate(-15px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in:hover div:nth-child(3) {
left: 0px;
transition: left 0.30000000000000004s ease;
-webkit-transition: left 0.30000000000000004s ease;
-moz-transition: left 0.30000000000000004s ease;
}