@tailwind components;
@tailwind utilities;

.description {
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    p {
        margin-bottom: 45px;

        &:nth-of-type(1) {
            font-size: 56px;
            gap: 6px;

            span {
                margin-right: 3px;
            }

            .mask {
                position: relative;
                overflow: hidden;
                display: inline-flex;
            }
        }

        &:nth-of-type(2) {
            font-size: 10px;
            width: 80%;
            font-weight: 300;
        }
    }

    .body {
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 6px;
        position: relative;

        p {
            margin: 0px;

            &:nth-of-type(1) {
                font-size: 16px;
                gap: 6px;
                line-height: 1.3;

                .mask {
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }
            }

            &:nth-of-type(2) {
                font-size: 10px;
                width: 80%;
                font-weight: 300;
            }
        }
    }
}